---
import UnicareLayout from "../../layouts/UnicareLayout.astro";
---

<UnicareLayout title="Contact Us - Unicare Clinic Bali & NTT Medical Center 2026" description="Contact us at Unicare Clinic for reliable medical services in Bali and NTT. Our experienced team is ready to assist you with expert care and personalized treatments.">
    <div class="archive-stripe"></div>
    <div class="archive-banner warning" id="archiveBanner">
        <button class="archive-banner-close" onclick="document.getElementById('archiveBanner').style.display='none'">&times;</button>
        <div class="archive-banner-content">
            <div class="archive-banner-icon">🚧</div>
            <div class="archive-banner-text">
                <h3 class="archive-banner-title">⚠️ ARCHIVE TEMPLATE - DISCONTINUED JANUARY 2025</h3>
                <p class="archive-banner-subtitle">
                    This template is <strong>no longer in use</strong>. I quit as Web Developer in January 2025 and new developers took over,
                    changing everything. This site represents my work from <strong>2019 - 2025</strong> as the original Web Developer for Unicare Clinic.
                </p>
            </div>
            <div class="archive-badge">
                <span class="archive-badge-year">2019</span>
                <span class="archive-badge-label">to</span>
                <span class="archive-badge-year">2025</span>
                <span class="archive-badge-label">My Work</span>
            </div>
        </div>
    </div>
    <div class="archive-stripe"></div>

    <div class="wrapper">
        <div class="preloader">
            <div class="loading"><span></span><span></span><span></span><span></span></div>
        </div>

        <header class="header header-layout1">
            <div class="header-topbar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between">
                                <ul class="contact__list d-flex flex-wrap align-items-center list-unstyled mb-0">
                                    <li>
                                        <button class="miniPopup-emergency-trigger" type="button">24/7 Emergency</button>
                                        <div id="miniPopup-emergency" class="miniPopup miniPopup-emergency text-center">
                                            <div class="emergency__icon">
                                                <i class="icon-call3"></i>
                                            </div>
                                            <a href="tel:+6282298298911" class="phone__number">
                                                <i class="icon-phone"></i> <span>+62 822 9829 8911</span>
                                            </a>
                                            <p>Please feel free to contact our friendly reception staff with any general or medical enquiry.</p>
                                            <a href="/unicare-clinic/appointment.html" class="btn btn__secondary btn__link btn__block">
                                                <span>Make Appointment</span> <i class="icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="icon-phone"></i><a href="tel:+6282298298911">24/7 Hotline: +62 822 9829 8911</a>
                                    </li>
                                    <li>
                                        <i class="icon-location"></i><a href="/unicare-clinic/contact-us.html">Locations: Kuta, Ubud, Nusa Dua, Uluwatu</a>
                                    </li>
                                    <li>
                                        <i class="icon-clock"></i><a href="/unicare-clinic/contact-us.html">Open 24/7, Every Day</a>
                                    </li>
                                </ul>
                                <div class="d-flex">
                                    <ul class="social-icons list-unstyled mb-0 mr-30">
                                        <li><a href="https://www.facebook.com/Unicare-Clinic-1936150369754527/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://twitter.com/unicare_clinic" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.youtube.com/@unicareclinic" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                    <form class="header-topbar__search">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <button class="header-topbar__search-btn"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg sticky-navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/unicare-clinic">
                        <img src="/unicare-assets/images/logo/unicare-logo.webp" class="logo-light" alt="Unicare Clinic Logo" style="max-height: 50px; width: auto;">
                        <img src="/unicare-assets/images/logo/unicare-logo.webp" class="logo-dark" alt="Unicare Clinic Logo" style="max-height: 50px; width: auto;">
                    </a>
                    <button class="navbar-toggler" type="button">
                        <span class="menu-lines"><span></span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mainNavigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav__item has-dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Home</a>
                                <ul class="dropdown-menu">
                                    <li class="nav__item">
                                        <a href="/unicare-clinic" class="nav__item-link">Home Main</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/home-modern.html" class="nav__item-link">Home Modern</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/home-classic.html" class="nav__item-link">Home Classic</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/home-dentist.html" class="nav__item-link">Home Dentist</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/home-pharmacy.html" class="nav__item-link">Home pharmacy</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item has-dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">About Us</a>
                                <ul class="dropdown-menu">
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/about-us" class="nav__item-link">About Us</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/services.html" class="nav__item-link">Our Services</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/services-single.html" class="nav__item-link">single Services</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/pricing.html" class="nav__item-link">Pricing & Plans</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/appointment.html" class="nav__item-link">Appointments</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/faqs.html" class="nav__item-link">Help & FAQs</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/gallery.html" class="nav__item-link">Our Gallery</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item has-dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Doctors</a>
                                <ul class="dropdown-menu">
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/doctors-timetable.html" class="nav__item-link">Doctors Timetable</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/doctors-standard.html" class="nav__item-link">Our Doctors Standard</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/doctors-modern.html" class="nav__item-link">Our Doctors Modern</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/doctors-grid.html" class="nav__item-link">Our Doctors Grid</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/doctors-single-doctor1.html" class="nav__item-link">Single Doctor 01</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/doctors-single-doctor2.html" class="nav__item-link">Single Doctor 02</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item has-dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/blog.html" class="nav__item-link">Blog Grid</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/blog-single-post.html" class="nav__item-link">Single Blog Post</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item has-dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Shop</a>
                                <ul class="dropdown-menu">
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/shop.html" class="nav__item-link">Our Products</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/shop-single-product.html" class="nav__item-link">Products Single</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/shopping-cart.html" class="nav__item-link">Cart</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item">
                                <a href="/unicare-clinic/contact-us" class="nav__item-link active">Contacts</a>
                            </li>
                        </ul>
                        <button class="close-mobile-menu d-block d-lg-none"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="d-none d-xl-flex align-items-center position-relative ml-30">
                        <div class="miniPopup-departments-trigger">
                            <span class="menu-lines" id="miniPopup-departments-trigger-icon"><span></span></span>
                            <a href="/unicare-clinic/departments.html">Departments</a>
                        </div>
                        <ul id="miniPopup-departments" class="miniPopup miniPopup-departments dropdown-menu">
                            <li class="nav__item">
                                <a href="/unicare-clinic/departments-single.html" class="nav__item-link">Neurology Clinic</a>
                            </li>
                            <li class="nav__item">
                                <a href="/unicare-clinic/departments-single.html" class="nav__item-link">Cardiology Clinic</a>
                            </li>
                            <li class="nav__item">
                                <a href="/unicare-clinic/departments-single.html" class="nav__item-link">Pathology Clinic</a>
                            </li>
                            <li class="nav__item">
                                <a href="/unicare-clinic/departments-single.html" class="nav__item-link">Laboratory Clinic</a>
                            </li>
                            <li class="nav__item">
                                <a href="/unicare-clinic/departments-single.html" class="nav__item-link">Pediatric Clinic</a>
                            </li>
                            <li class="nav__item">
                                <a href="/unicare-clinic/departments-single.html" class="nav__item-link">Cardiac Clinic</a>
                            </li>
                        </ul>
                        <a href="/unicare-clinic/appointment.html" class="btn btn__primary btn__rounded ml-30">
                            <i class="icon-calendar"></i>
                            <span>Appointment</span>
                        </a>
                    </div>
                </div>
            </nav>
        </header>

        <section class="google-map py-0">
            <iframe frameborder="0" height="500" width="100%"
                src="https://maps.google.com/maps?q=Suite%20100%20San%20Francisco%2C%20LA%2094107%20United%20States&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near"></iframe>
        </section>

        <section class="contact-layout1 pt-0 mt--100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-panel d-flex flex-wrap">
                            <form class="contact-panel__form" method="post" action="/unicare-assets/php/contact.php" id="contactForm">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="contact-panel__title">How Can We Help? </h4>
                                        <p class="contact-panel__desc mb-30">Please feel welcome to contact our friendly reception staff
                                            with any general or medical enquiry. Our doctors will receive or return any urgent calls.
                                        </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <i class="icon-user form-group-icon"></i>
                                            <input type="text" class="form-control" placeholder="Name" id="contact-name" name="contact-name"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <i class="icon-email form-group-icon"></i>
                                            <input type="email" class="form-control" placeholder="Email" id="contact-email"
                                                name="contact-email" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <i class="icon-phone form-group-icon"></i>
                                            <input type="text" class="form-control" placeholder="Phone" id="contact-Phone"
                                                name="contact-phone" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <i class="icon-news form-group-icon"></i>
                                            <select class="form-control">
                                                <option value="0">Subject</option>
                                                <option value="1">Subject 1</option>
                                                <option value="2">Subject 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <i class="icon-edit form-group-icon"></i>
                                            <textarea class="form-control" placeholder="Message" id="contact-message"
                                                name="contact-message" rows="6" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <button type="submit" class="btn btn__primary btn__rounded">Send Message</button>
                                    </div>
                                </div>
                            </form>
                            <div class="contact-panel__info">
                                <h4 class="contact-panel__title">Contact Info</h4>
                                <p class="contact-panel__desc mb-30">Reach out to us through the following channels for any inquiries or appointments.</p>
                                <ul class="contact__list list-unstyled mb-0">
                                    <li>
                                        <div class="contact__icon">
                                            <i class="icon-call3"></i>
                                        </div>
                                        <div class="contact__content">
                                            <h5 class="contact__title">Phone Number</h5>
                                            <a href="tel:+6282298298911">+62 822 9829 8911</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact__icon">
                                            <i class="icon-email"></i>
                                        </div>
                                        <div class="contact__content">
                                            <h5 class="contact__title">Email Address</h5>
                                            <a href="mailto:[email protected]">[email protected]</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact__icon">
                                            <i class="icon-location"></i>
                                        </div>
                                        <div class="contact__content">
                                            <h5 class="contact__title">Office Address</h5>
                                            <p>Central Parkir Kuta, Ring No.2, Jl. Patih Jelantik, Kuta, Bali</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact__icon">
                                            <i class="icon-clock"></i>
                                        </div>
                                        <div class="contact__content">
                                            <h5 class="contact__title">Working Hours</h5>
                                            <p>Open 24/7, Every Day</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</UnicareLayout>
