---
import UnicareLayout from "../../layouts/UnicareLayout.astro";
---

<UnicareLayout title="Unicare Clinic - Beyond Excellent Medical Service in Bali 2025" description="Discover comprehensive healthcare services at Unicare Clinic, your trusted Bali Medical Clinic. 24/7 doctor on call to specialized treatments keep you healthy">
    <div class="archive-stripe"></div>
    <div class="archive-banner warning" id="archiveBanner">
        <button class="archive-banner-close" onclick="document.getElementById('archiveBanner').style.display='none'">&times;</button>
        <div class="archive-banner-content">
            <div class="archive-banner-icon">🚧</div>
            <div class="archive-banner-text">
                <h3 class="archive-banner-title">⚠️ ARCHIVE TEMPLATE - DISCONTINUED JANUARY 2025</h3>
                <p class="archive-banner-subtitle">
                    This template is <strong>no longer in use</strong>. I quit as Web Developer in January 2025 and new developers took over,
                    changing everything. This site represents my work from <strong>2019 - 2025</strong> as the original Web Developer for Unicare Clinic.
                </p>
            </div>
            <div class="archive-badge">
                <span class="archive-badge-year">2019</span>
                <span class="archive-badge-label">to</span>
                <span class="archive-badge-year">2025</span>
                <span class="archive-badge-label">My Work</span>
            </div>
        </div>
    </div>
    <div class="archive-stripe"></div>

    <div class="wrapper">
        <div class="preloader">
            <div class="loading"><span></span><span></span><span></span><span></span></div>
        </div>

        <header class="header header-layout1">
            <div class="header-topbar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between">
                                <ul class="contact__list d-flex flex-wrap align-items-center list-unstyled mb-0">
                                    <li>
                                        <button class="miniPopup-emergency-trigger" type="button">24/7 Emergency</button>
                                        <div id="miniPopup-emergency" class="miniPopup miniPopup-emergency text-center">
                                            <div class="emergency__icon">
                                                <i class="icon-call3"></i>
                                            </div>
                                            <a href="tel:+6282298298911" class="phone__number">
                                                <i class="icon-phone"></i> <span>+62 822 9829 8911</span>
                                            </a>
                                            <p>24/7 Call Center - Please feel free to contact our friendly reception staff with any general or medical enquiry.
                                            </p>
                                            <a href="/unicare-clinic/appointment.html" class="btn btn__secondary btn__link btn__block">
                                                <span>Make Appointment</span> <i class="icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="icon-phone"></i><a href="tel:+6282298298911">24/7 Hotline: +62 822 9829 8911</a>
                                    </li>
                                    <li>
                                        <i class="icon-location"></i><a href="/unicare-clinic/contact-us.html">Locations: Kuta, Ubud, Nusa Dua, Uluwatu</a>
                                    </li>
                                    <li>
                                        <i class="icon-clock"></i><a href="/unicare-clinic/contact-us.html">Open 24/7, Every Day</a>
                                    </li>
                                </ul>
                                <div class="d-flex">
                                    <ul class="social-icons list-unstyled mb-0 mr-30">
                                        <li><a href="https://www.facebook.com/Unicare-Clinic-1936150369754527/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://twitter.com/unicare_clinic" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.youtube.com/@unicareclinic" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                    <form class="header-topbar__search">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <button class="header-topbar__search-btn"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg sticky-navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/unicare-clinic">
                        <img src="/unicare-assets/images/logo/unicare-logo.webp" class="logo-light" alt="Unicare Clinic Logo" style="max-height: 50px; width: auto;">
                        <img src="/unicare-assets/images/logo/unicare-logo.webp" class="logo-dark" alt="Unicare Clinic Logo" style="max-height: 50px; width: auto;">
                    </a>
                    <button class="navbar-toggler" type="button">
                        <span class="menu-lines"><span></span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mainNavigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav__item has-dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link active">Home</a>
                                <ul class="dropdown-menu">
                                    <li class="nav__item">
                                        <a href="/unicare-clinic" class="nav__item-link">Home Main</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/home-modern.html" class="nav__item-link">Home Modern</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/home-classic.html" class="nav__item-link">Home Classic</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/home-dentist.html" class="nav__item-link">Home Dentist</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/home-pharmacy.html" class="nav__item-link">Home pharmacy</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item has-dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">About Us</a>
                                <ul class="dropdown-menu">
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/about-us" class="nav__item-link">About Us</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/services.html" class="nav__item-link">Our Services</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/services-single.html" class="nav__item-link">single Services</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/pricing.html" class="nav__item-link">Pricing & Plans</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/appointment.html" class="nav__item-link">Appointments</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/faqs.html" class="nav__item-link">Help & FAQs</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/gallery.html" class="nav__item-link">Our Gallery</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item has-dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Doctors</a>
                                <ul class="dropdown-menu">
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/doctors-timetable.html" class="nav__item-link">Doctors Timetable</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/doctors-standard.html" class="nav__item-link">Our Doctors Standard</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/doctors-modern.html" class="nav__item-link">Our Doctors Modern</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/doctors-grid.html" class="nav__item-link">Our Doctors Grid</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/doctors-single-doctor1.html" class="nav__item-link">Single Doctor 01</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/doctors-single-doctor2.html" class="nav__item-link">Single Doctor 02</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item has-dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/blog.html" class="nav__item-link">Blog Grid</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/blog-single-post.html" class="nav__item-link">Single Blog Post</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item has-dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Shop</a>
                                <ul class="dropdown-menu">
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/shop.html" class="nav__item-link">Our Products</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/shop-single-product.html" class="nav__item-link">Products Single</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="/unicare-clinic/shopping-cart.html" class="nav__item-link">Cart</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item">
                                <a href="/unicare-clinic/contact-us" class="nav__item-link">Contacts</a>
                            </li>
                        </ul>
                        <button class="close-mobile-menu d-block d-lg-none"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="d-none d-xl-flex align-items-center position-relative ml-30">
                        <div class="miniPopup-departments-trigger">
                            <span class="menu-lines" id="miniPopup-departments-trigger-icon"><span></span></span>
                            <a href="/unicare-clinic/departments.html">Departments</a>
                        </div>
                        <ul id="miniPopup-departments" class="miniPopup miniPopup-departments dropdown-menu">
                            <li class="nav__item">
                                <a href="/unicare-clinic/departments-single.html" class="nav__item-link">Neurology Clinic</a>
                            </li>
                            <li class="nav__item">
                                <a href="/unicare-clinic/departments-single.html" class="nav__item-link">Cardiology Clinic</a>
                            </li>
                            <li class="nav__item">
                                <a href="/unicare-clinic/departments-single.html" class="nav__item-link">Pathology Clinic</a>
                            </li>
                            <li class="nav__item">
                                <a href="/unicare-clinic/departments-single.html" class="nav__item-link">Laboratory Clinic</a>
                            </li>
                            <li class="nav__item">
                                <a href="/unicare-clinic/departments-single.html" class="nav__item-link">Pediatric Clinic</a>
                            </li>
                            <li class="nav__item">
                                <a href="/unicare-clinic/departments-single.html" class="nav__item-link">Cardiac Clinic</a>
                            </li>
                        </ul>
                        <a href="/unicare-clinic/appointment.html" class="btn btn__primary btn__rounded ml-30">
                            <i class="icon-calendar"></i>
                            <span>Appointment</span>
                        </a>
                    </div>
                </div>
            </nav>
        </header>

        <section class="slider">
            <div class="slick-carousel m-slides-0"
                data-slick='{"slidesToShow": 1, "arrows": true, "dots": false, "speed": 700,"fade": true,"cssEase": "linear"}'>
                <div class="slide-item align-v-h">
                    <div class="bg-img"><img src="/unicare-assets/images/sliders/1.jpg" alt="slide img"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                                <div class="slide__content">
                                    <h2 class="slide__title">Unicare Clinic - Beyond Excellent Medical Service in Bali</h2>
                                    <p class="slide__desc">Expert Care, Anytime, Anywhere in Bali. Unicare Clinic is a trusted Bali Medical Clinic providing 24/7 healthcare services tailored to your needs. With expert doctors and modern facilities, we ensure top-quality care.</p>
                                    <ul class="features-list list-unstyled mb-0 d-flex flex-wrap">
                                        <li class="feature-item">
                                            <div class="feature__icon">
                                                <i class="icon-doctor"></i>
                                            </div>
                                            <h2 class="feature__title">24/7 Doctor On Call</h2>
                                        </li>
                                        <li class="feature-item">
                                            <div class="feature__icon">
                                                <i class="icon-medicine"></i>
                                            </div>
                                            <h2 class="feature__title">Rabies Vaccine</h2>
                                        </li>
                                        <li class="feature-item">
                                            <div class="feature__icon">
                                                <i class="icon-health-report"></i>
                                            </div>
                                            <h2 class="feature__title">IV Drip Therapy</h2>
                                        </li>
                                        <li class="feature-item">
                                            <div class="feature__icon">
                                                <i class="icon-heart2"></i>
                                            </div>
                                            <h2 class="feature__title">Dental Clinic</h2>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item align-v-h">
                    <div class="bg-img"><img src="/unicare-assets/images/sliders/2.jpg" alt="slide img"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                                <div class="slide__content">
                                    <h2 class="slide__title">Comprehensive Medical Care in Bali and Beyond</h2>
                                    <p class="slide__desc">Our team of experienced doctors and healthcare professionals is dedicated to offering personalized medical care. Whether you need urgent treatment or preventive healthcare, we combine expertise with compassion.</p>
                                    <ul class="features-list list-unstyled mb-0 d-flex flex-wrap">
                                        <li class="feature-item">
                                            <div class="feature__icon">
                                                <i class="icon-doctor"></i>
                                            </div>
                                            <h2 class="feature__title">General Practitioner</h2>
                                        </li>
                                        <li class="feature-item">
                                            <div class="feature__icon">
                                                <i class="icon-medicine"></i>
                                            </div>
                                            <h2 class="feature__title">Medical Check Up</h2>
                                        </li>
                                        <li class="feature-item">
                                            <div class="feature__icon">
                                                <i class="icon-health-report"></i>
                                            </div>
                                            <h2 class="feature__title">Dengue Vaccine</h2>
                                        </li>
                                        <li class="feature-item">
                                            <div class="feature__icon">
                                                <i class="icon-heart2"></i>
                                            </div>
                                            <h2 class="feature__title">Ambulance Service</h2>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact-info py-0">
            <div class="container">
                <div class="row row-no-gutter boxes-wrapper">
                    <div class="col-sm-12 col-md-4">
                        <div class="contact-box d-flex">
                            <div class="contact__icon">
                                <i class="icon-call3"></i>
                            </div>
                            <div class="contact__content">
                                <h2 class="contact__title">24/7 Emergency Cases</h2>
                                <p class="contact__desc">Please feel free to contact our friendly reception staff with any general or
                                    medical enquiry. We are available 24/7 to assist you.</p>
                                <a href="tel:+6282298298911" class="phone__number">
                                    <i class="icon-phone"></i> <span>+62 822 9829 8911</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="contact-box d-flex">
                            <div class="contact__icon">
                                <i class="icon-health-report"></i>
                            </div>
                            <div class="contact__content">
                                <h2 class="contact__title">Doctors Timetable</h2>
                                <p class="contact__desc">Qualified doctors available six days a week, view our timetable to make an
                                    appointment.</p>
                                <a href="/unicare-clinic/doctors-timetable.html" class="btn btn__white btn__outlined btn__rounded">
                                    <span>View Timetable</span><i class="icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="contact-box d-flex">
                            <div class="contact__icon">
                                <i class="icon-heart2"></i>
                            </div>
                            <div class="contact__content">
                                <h2 class="contact__title">Opening Hours</h2>
                                <ul class="time__list list-unstyled mb-0">
                                    <li><span>Monday - Sunday</span><span>24 Hours</span></li>
                                    <li><span>Emergency Service</span><span>Available 24/7</span></li>
                                    <li><span>Doctor On Call</span><span>Anytime, Anywhere</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-layout2 pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-7 offset-lg-1">
                        <div class="heading-layout2">
                            <h3 class="heading__title mb-60">Your Trusted Bali Medical Clinic - <br> Beyond Excellent Medical Service</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <div class="text-with-icon">
                            <div class="text__icon">
                                <i class="icon-doctor"></i>
                            </div>
                            <div class="text__content">
                                <p class="heading__desc font-weight-bold color-secondary mb-30">Our goal is to deliver quality of care
                                    in a courteous, respectful, and
                                    compassionate manner. We hope you will allow us to care for you and strive to be the first and best
                                    choice for healthcare.
                                </p>
                                <a href="/unicare-clinic/doctors-timetable.html" class="btn btn__secondary btn__rounded mb-70">
                                    <span>Find A Doctor</span> <i class="icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="video-banner-layout2 bg-overlay">
                            <img src="/unicare-assets/images/about/2.jpg" alt="about" class="w-100">
                            <a class="video__btn video__btn-white popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                                <div class="video__player">
                                    <i class="fa fa-play"></i>
                                </div>
                                <span class="video__btn-title color-white">Watch Our Video!</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-7">
                        <div class="about__text bg-white">
                            <p class="heading__desc mb-30">Our goal is to deliver quality of care in a courteous, respectful, and
                                compassionate
                                manner. We hope you will allow us to care for you and to be the first and best choice for healthcare.
                            </p>
                            <p class="heading__desc mb-30">We will work with you to develop individualised care plans, including
                                management of
                                chronic diseases. We are committed to being the region's premier healthcare network providing patient
                                centered care that inspires clinical and service excellence.</p>
                            <ul class="list-items list-unstyled">
                                <li>We conduct a range of tests to help us work out why you're not feeling well and determine the
                                    right
                                    treatment for you.</li>
                                <li>Our expert doctors, nurses and allied health professionals manage patients with a broad range of
                                    medical issues.
                                </li>
                                <li>We offer a wide range of care and support to our patients, from diagnosis to treatment and
                                    rehabilitation.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="services-layout1 services-carousel">
            <div class="bg-img"><img src="/unicare-assets/images/backgrounds/2.jpg" alt="background"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                        <div class="heading text-center mb-60">
                            <h2 class="heading__subtitle">Explore Our Medical Services in Bali</h2>
                            <h3 class="heading__title">Discover comprehensive healthcare services at Unicare Clinic</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="slick-carousel"
                            data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "autoplay": true, "arrows": false, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
                            <div class="service-item">
                                <div class="service__icon">
                                    <i class="icon-head"></i>
                                    <i class="icon-head"></i>
                                </div>
                                <div class="service__content">
                                    <h4 class="service__title">General Practitioner</h4>
                                    <p class="service__desc">Get professional medical consultations and treatments from expert GP doctors in Bali for your overall health and well-being. From routine check-ups to chronic disease management.
                                    </p>
                                    <ul class="list-items list-items-layout1 list-unstyled">
                                        <li>General Consultations</li>
                                        <li>Health Check-ups</li>
                                        <li>Chronic Disease Management</li>
                                    </ul>
                                    <a href="/unicare-clinic/services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                                        <span>Learn More</span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service__icon">
                                    <i class="icon-heart"></i>
                                    <i class="icon-heart"></i>
                                </div>
                                <div class="service__content">
                                    <h4 class="service__title">24 Hours Doctor On Call</h4>
                                    <p class="service__desc">Experience 24/7 on-demand medical care with our Doctor On Call service. Whether you're staying at a hotel, villa, or private residence, our licensed doctors will come directly to you.
                                    </p>
                                    <ul class="list-items list-items-layout1 list-unstyled">
                                        <li>Hotel & Villa Visits</li>
                                        <li>Emergency House Calls</li>
                                        <li>24/7 Availability</li>
                                    </ul>
                                    <a href="/unicare-clinic/services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                                        <span>Learn More</span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="service-item">
                                <div class="service__icon">
                                    <i class="icon-microscope"></i>
                                    <i class="icon-microscope"></i>
                                </div>
                                <div class="service__content">
                                    <h4 class="service__title">Pathology Clinic</h4>
                                    <p class="service__desc">Pathology is the study of disease, it is the bridge between science and
                                        medicine.
                                        Also it underpins every aspect of patient care, from diagnostic testing and treatment.
                                    </p>
                                    <ul class="list-items list-items-layout1 list-unstyled">
                                        <li>Surgical Pathology</li>
                                        <li>Histopathology</li>
                                        <li>Cytopathology </li>
                                    </ul>
                                    <a href="/unicare-clinic/services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                                        <span>Read More</span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="notes border-top pt-60 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="note font-weight-bold">
                            <i class="far fa-file-alt color-primary"></i>
                            <span>Delivering tomorrow's health care for your family.</span>
                            <a href="/unicare-clinic/doctors-timetable.html" class="btn btn__link btn__secondary">
                                <span>View Doctors' Timetable</span><i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="info__meta d-flex flex-wrap justify-content-between align-items-center">
                            <div class="testimonials__rating">
                                <div class="testimonials__rating-inner d-flex align-items-center">
                                    <span class="total__rate">4.9</span>
                                    <div>
                                        <span class="overall__rate">Zocdoc Overall Rating</span>
                                        <span>, based on 7541 reviews.</span>
                                    </div>
                                </div>
                            </div>
                            <a href="/unicare-clinic/appointment.html" class="btn btn__primary btn__rounded">
                                <span>Make Appointment</span> <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</UnicareLayout>
